/*头部*/
header{
    width: 100%;
}
header .top{
    background-color: #555555;
    line-height: 5rem;
    color: #aaaaaa;
}
header .top .top-content{
    float: left;
    padding: 0;

}
header .top .top-content span{
    padding-left: 1.5rem;
}
header .top ul{
    text-align: right;
}
header .top ul li{
    display: inline-block;
    line-height: 2rem;
    padding: 0 1.5rem;
}
header .top ul li + li{
    border-left: 1px solid #aaaaaa;
}

header .top ul li a{
    display: inline-block;
    color: #aaaaaa;
}

@media only screen and (max-width: 30em){
    header .top .top-content .name{
        display: none;
    }
    header .top ul li{
        display: inline-block;
        padding: 0 0.5rem;
    }
    header .top .top-content{
        padding: 0 0.5rem;
    }
    header .top .top-content span{
        padding: 0;
    }
}

header .main{
    background-color: #999999;
}
header .main .logo{
    float: left;
    padding: 0 3rem;
}
header .main .logo img{
    width: 10rem;
}
header .main ul{
    text-align: right;
    padding-right: 3rem;
}
header .main ul li{
    display: inline-block;
    padding: 4rem 2rem;
}
header .main ul li a{
    display: inline-block;
    color: #ffffff;
    font-size: 1.6rem;
}

@media only screen and (max-width: 50em){
    header .main .logo{
        float: none;
        display: block;
        text-align: center;
    }
    header .main ul{
        text-align: center;
        padding-right: 0;
    }
    header .main ul li{
        display: inline-block;
        padding: 2rem 1rem;
    }
}
@media only screen and (max-width: 30em){
    header .main ul li:nth-child(1){
        display: none;
    }
    header .main ul li{
        display: inline-block;
        padding: 1rem 0.3rem;
    }
}